azure-functions
requests==2.22.0
azure-identity==1.4.0
azure-mgmt-keyvault==1.1.0
azure-keyvault-secrets==4.1.0
azure-mgmt-compute==4.6.2
azure-mgmt-network==2.7.0
azure-mgmt-storage==2.0.0
azure-storage-common==1.4.2
azure-mgmt-monitor==0.11.0
azure-mgmt-resource==3.1.0
azure-storage-queue
azure-mgmt-authorization==0.50.0
azure-core==1.8.1
jinja2